.gallery {
  &__row {
    // display: flex;
    // flex-wrap: wrap;
    // row-gap: 40px;
    // column-gap: 28px;
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    // grid-template-rows: masonry;
    // column-count: 4;
    // column-gap: 10px;
    // row-gap: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: dense;
    gap: 10px;
  }

  &__col {
    // margin-bottom: 10px;
    // &:nth-child(1n+13),
    // &:first-child {
    //   height: 323px;
    //   max-width: 580px;
    // }
  }

  &__item {
    // height: 100%;

    img {
      // height: 100%;
      object-fit: cover;
    }
  }
}